html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body{   
    font-family: 'Salsa', cursive;
    background-image: linear-gradient(to bottom right, rgb(187, 162, 92),  rgb(92, 187, 138));
}

.login1{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.LogH{
    margin-bottom: 20px;
}

.LogForm{
display: flex;
flex-direction: column;
}

.LogInput{
    margin-top: 5px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

.SecButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.BUTT{
    margin-left: 5px;
    cursor: pointer;
    background-color: rgb(187, 138, 92);
    border-radius: 3px;
    height: 30px;
    min-width: 100px;
    box-shadow: 2px 2px black;
    font-weight: bold;
}

.BUTT:hover{
    transform: scale(1.1);
    transition: 0.3s;
}